// We can use @import to grab the code from another Sass file and include it in this Sass file
// Note I have a file called _reset.scss. Sass automatically adds .scss to the end and removes any preceding underscores
@import 'reset';

// In Sass we can create variables. They work similar to variables in JavaScript except instead of using const or let, we use a $
$title-font: 'Jua', sans-serif;
$body-font: 'Abel', sans-serif;

$color-dark-gray: #2B2B2B;
$color-blue: #07A7D8;
$color-off-white: #F4F4F4;

$media: screen;
$feature: min-width;
$value: 600px;

body {
    height: 100vh;
    background-color: $color-dark-gray;
}

p {
    font: {
        family: $body-font;
        size: 20px;
    }
}

div.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(4, 1fr);
    @media #{$media} and ($feature: $value) {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr;
    }
}

aside {
    background-color: $color-blue;
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3, 1fr);
}

section {
    background-color: $color-blue;
    padding: 20px 20px 20px 20px;

    p {
        color: $color-off-white;
    }

    ul {
        font: {
            family: $body-font;
            size: 20px;
        }
        list-style: square;
        margin-left: 20px;
    }
}

aside {
        
    ul {
        
        li {
            height:28px;
            width:34px;
            border-radius: 20px;
            padding:6px 0px 0px 0px;
            font-size:22px;
            margin-right:15px;
            text-align:center;
            float: left;
            &:last-child {
                margin-right: 0px;
            }
            &:hover, &.selected {
                background-color: black;
                color: white;
                border-radius: 1em;
            }
        }
    }
}



section.heading {
    grid-column: span 1;
    grid-row: span 1;
    background-color: transparent;
    padding: 10px 0px 0px 10px;

    h1 {
        font-family: $title-font;
        color: $color-off-white;
        font-size: 3em;
    }
}

@media #{$media} and ($feature: $value) {


    aside {
        margin-bottom: 0px;
        margin-right:20px;
    }

    main {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 1fr;
    }

    section.heading {
        grid-column: span 3;
    }

    aside {

        ul {
            
            li {
                margin-bottom:15px;
                float: none;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}